export POD_NAMESPACE=nginx-ingress; cat /etc/kubernetes/kubeadm/nginx-ingress/nginx.yaml | envsubst | kubectl apply -n nginx-ingress -f - ;
export POD_NAMESPACE=nginx-ingress; cat /etc/kubernetes/kubeadm/nginx-ingress/echo-server.yaml | envsubst | kubectl apply -n nginx-ingress -f - ;

