{% macro label() -%}
{% for host in groups['kube-ingress'] %} kubectl label nodes {{ host }}  dedicated=ingress ; {% endfor %}
{% endmacro -%}

{% macro taint() -%}
{% for host in groups['kube-ingress'] %} kubectl taint nodes {{ host }} dedicated=ingress:NoSchedule ;  {% endfor %}
{% endmacro -%}

{{ label() }} 
{{ taint() }}
